<html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Index</a></li>
            <li class="searchbox">
                <form>
                    <input type="text"></input>
                    <input type="submit" value="&#128269;"></input>
                </form>
            </li>
            <li class="username">
                {% if user.is_authenticated %}
                <a>{{user.username}}</a>
                {% else %}
                <a href="{% url 'login' %}">Log in</a>
                {% endif %}
                </a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}

</body>

</html>