{% if user.is_authenticated %}
<h1>>Welcome, {{ user.get_username }}. Thanks for logging in.</h1>
{% else %}
<h1>Welcome, new user. Please log in.</h1>
{% endif %}
<a href="{%url 'create_tournament'%}">
    <p>+ create fixed tournament</p>
</a>
<p>+ create empty tournament</p>
{% if latest_tournament_list %}
<ul>
    {% for tournament in latest_tournament_list %}
    <li>
        <h1><a href="{% url 'tournament_detail' tournament.id %}">{{tournament.name}}</h1></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No tournaments are available.</p>
{% endif %}